/* Estilos para payment-success */
.success-icon {
    animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}